### Show the dataframe shape

In [1]:
import pandas as pd

In [2]:
base1 = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')

In [3]:
df1 = pd.DataFrame(base1)

In [4]:
df1.shape

(10910, 26)

### Standardize header names

In [5]:
df1.columns = df1.columns.str.lower().str.replace(' ','_')

### Which columns are numerical?

In [6]:
df1.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
dtype: object

Las columnas CUSTOMER LIFETIME VALUE, EFFECTIVE TO DATE, INCOME, MONTHLY PREMIUM AUTO, MONTHS SINCE LAST CLAIM, 
MONTHS SINCE POLICY INCEPTION, NUMBER OF OPEN COMPLAINTS, NUMBER OF POLICIES y TOTAL CLAIM AMOUNT

### Which columns are categorical?

In [21]:
df1.head(10)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Not Aviable,February
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Not Aviable,January
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,February
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,January
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,Not Aviable,January
5,5,HO81102,Not Aviable,4745.181764,Not Aviable,Basic,High School or Below,2011-02-14,Employed,M,...,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A,February
6,6,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,...,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,Not Aviable,February
7,7,IH64929,California,4956.247235,No,Basic,High School or Below,2011-02-24,Employed,M,...,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,Not Aviable,February
8,8,FM55990,California,5989.773931,Yes,Premium,College,2011-01-19,Employed,M,...,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,Not Aviable,January
9,9,QX31376,Oregon,17114.328150,No,Extended,Master,2011-01-04,Employed,F,...,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,Not Aviable,January

Las columnas STATE, RESPONSE, COVERAGE, EDUCATION, EMPLOYMENTSTATUS, GENDER, LOCATION CODE, MARITAL STATUS, POLICY TYPE, POLICY, RENEW OFFER TYPE,SALES CHANNEL, VEHICLE CLASS, VEHICLE SIZE y VEHICLE TYPE.

### Check and deal with NaN values

In [8]:
df1.isnull().sum()

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [9]:
df1.months_since_last_claim.fillna(0, inplace = True)
df1.number_of_open_complaints.fillna(0, inplace = True)

In [10]:
df1.state.fillna('Not Aviable', inplace = True)
df1.response.fillna('Not Aviable', inplace = True)
df1.vehicle_class.fillna('Not Aviable', inplace = True)
df1.vehicle_size.fillna('Not Aviable', inplace = True)
df1.vehicle_type.fillna('Not Aviable', inplace = True)

In [11]:
df1.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
dtype: int64

### Datetime format

In [14]:
df1.effective_to_date = df1.effective_to_date.astype('datetime64[ns]')

/var/folders/v4/bqj9vzp11vd1cvhf93rmpqt00000gp/T/ipykernel_16434/4142200218.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df1.effective_to_date = df1.effective_to_date.astype('datetime64[ns]')

In [16]:
df1['month'] = df1.effective_to_date.dt.month_name()

In [17]:
df1.head(2)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,Not Aviable,February
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,Not Aviable,January

In [22]:
df1.month.unique()
#the filter isn't necesary because there are only information of January and February

array(['February', 'January'], dtype=object)

### BONUS: Put all the previously mentioned data transformations into a function.

In [26]:
def dealing(df):
    print('El shape del Data Frame es:')
    print(df.shape)
    df.columns = df.columns.str.lower().str.replace(' ','_')
    print('Las columnas numericas son:')
    print(df.select_dtypes('number').columns)
    print('Las columnas categóricas son:')
    print(df.select_dtypes('object').columns)
    print('Los NaN a corregir son los siguientes:')
    print(df.isnull().sum()[df.isnull().sum()>0])
    df.months_since_last_claim.fillna(0, inplace = True)
    df.number_of_open_complaints.fillna(0, inplace = True)
    df.state.fillna('Not Aviable', inplace = True)
    df.response.fillna('Not Aviable', inplace = True)
    df.vehicle_class.fillna('Not Aviable', inplace = True)
    df.vehicle_size.fillna('Not Aviable', inplace = True)
    df.vehicle_type.fillna('Not Aviable', inplace = True)
    print('Los meses reportados son los siguientes:')
    df.effective_to_date = df1.effective_to_date.astype('datetime64[ns]')
    df['month'] = df1.effective_to_date.dt.month_name()
    print(df.month.unique())

In [27]:
base2 = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')
df2 = pd.DataFrame(base2)

In [28]:
dealing(df2)

El shape del Data Frame es:
(10910, 26)
Las columnas numericas son:
Index(['unnamed:_0', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'total_claim_amount'],
      dtype='object')
Las columnas categóricas son:
Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')
Los NaN a corregir son los siguientes:
state                         631
response                      631
months_since_last_claim       633
number_of_open_complaints     633
vehicle_class                 622
vehicle_size                  622
vehicle_type                 5482
dtype: int64
Los meses reportados son los siguientes:
['February' 'January']